@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
@layer base {
  :root {
    --border-r: 12px;
    --text: #040316;
    --background: #dedde4;
    --primary: #343b58;
    --secondary: #f9f7ff;
    --accent: #343b58;
  }
  .dark {
    --border-r: 12px;
    --text: #eae9fc;
    --background: #1c1b22;
    --primary: #7aa2f7;
    --secondary: #000000;
    --accent: #7aa2f7;
  }
}

* {
  user-select: none;
}

body {
  background-color: transparent;
  /* -webkit-app-region: no-drag; */
}
header {
  background: var(--secondary);
  border-top-left-radius: var(--border-r);
  border-top-right-radius: var(--border-r);
}
header > div {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
}
.drag_area {
  width: 100%;
  -webkit-app-region: drag;
}
.window_controls {
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-app-region: no-drag;
  svg {
    color: var(--text);
    cursor: pointer;
  }
}
#window_title {
  color: var(--text);
}
#restore-button {
  display: none;
}
#root {
  border-bottom-left-radius: var(--border-r);
  border-bottom-right-radius: var(--border-r);
  overflow: hidden;
  height: calc(100vh - 32px);
  /* width: 100vw; */
  background-color: var(--background);
}
